// Specific CSS for your home-page
.card {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
}

.wrapper-carousel {
  padding: 50px;
}

.wrapper-about {
  padding: 100px;
  background: black;
  margin-top: 50px;
 }
