<div id="footer">
  <div class="container" style="padding: 0">
    <div style="display: flex; justify-content: space-around; flex-direction: row; flex-wrap: nowrap; align-items: center;">


      <div class="list-inline" >
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>

</div>
