<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Hello, I am Jennifer Tang</h1>
    <p>Design - Develop - Inspire</p>
  </div>
</div>

<div class="wrapper-carousel">
  <%= render partial: "carousel" %>
</div>

<div class="wrapper-about">
  <h2 id="About"></h2><a href="#About"></a>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <h3>About me</h3>
          <p>New in the developers scene but ready to jump into the world of development. I have a passion for creating art. I believe life should be a balance of exploring and creation.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <h3>Skills</h3>
          <ul>
            <li>Ruby on Rails</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

